# cualquier carpeta node_modules
node_modules/
dicri-infra/.env
dicri-backend/.env
.env
dicri-backend/coverage/clover.xml
dicri-backend/coverage/coverage-final.json
dicri-backend/coverage/lcov.info
dicri-backend/coverage/lcov-report/base.css
dicri-backend/coverage/lcov-report/block-navigation.js
dicri-backend/coverage/lcov-report/favicon.png
dicri-backend/coverage/lcov-report/index.html
dicri-backend/coverage/lcov-report/prettify.css
dicri-backend/coverage/lcov-report/prettify.js
dicri-backend/coverage/lcov-report/sort-arrow-sprite.png
dicri-backend/coverage/lcov-report/sorter.js
dicri-backend/coverage/lcov-report/src/index.html
dicri-backend/coverage/lcov-report/src/server.ts.html
dicri-backend/coverage/lcov-report/src/db/index.html
dicri-backend/coverage/lcov-report/src/db/pool.ts.html
dicri-backend/coverage/lcov-report/src/docs/index.html
dicri-backend/coverage/lcov-report/src/docs/swagger.ts.html
dicri-backend/coverage/lcov-report/src/middlewares/authGuard.ts.html
dicri-backend/coverage/lcov-report/src/middlewares/index.html
dicri-backend/coverage/lcov-report/src/routes/auth.ts.html
dicri-backend/coverage/lcov-report/src/routes/health.ts.html
dicri-backend/coverage/lcov-report/src/routes/index.html
dicri-backend/coverage/lcov-report/src/services/auth.ts.html
dicri-backend/coverage/lcov-report/src/services/index.html
dicri-backend/coverage/lcov-report/src/utils/index.html
dicri-backend/coverage/lcov-report/src/utils/jwt.ts.html
dicri-backend/.env

dicri-backend/.env
dicri-frontend/dist/index.html
dicri-frontend/dist/assets/index-DVdaalxI.js
dicri-frontend/dist/assets/index-Jr6q_dsx.css
dicri-backend/dist/server.js
dicri-backend/dist/db/pool.js
dicri-backend/dist/docs/swagger.js
dicri-backend/dist/middlewares/authGuard.js
dicri-backend/dist/middlewares/rbacGuard.js
dicri-backend/dist/routes/attachments.js
dicri-backend/dist/routes/auth.js
dicri-backend/dist/routes/catalogs.js
dicri-backend/dist/routes/expedientes.js
dicri-backend/dist/routes/health.js
dicri-backend/dist/routes/indicios.js
dicri-backend/dist/routes/rbac.js
dicri-backend/dist/routes/reportes.js
dicri-backend/dist/routes/setup.js
dicri-backend/dist/routes/users.js
dicri-backend/dist/services/antivirus.js
dicri-backend/dist/services/attachments.js
dicri-backend/dist/services/auth.js
dicri-backend/dist/services/catalogs.js
dicri-backend/dist/services/expedientes.js
dicri-backend/dist/services/indicios.js
dicri-backend/dist/services/mailer.js
dicri-backend/dist/services/rbac.js
dicri-backend/dist/services/reportes.js
dicri-backend/dist/services/revision.js
dicri-backend/dist/services/storage.js
dicri-backend/dist/services/users.js
dicri-backend/dist/utils/hash.js
dicri-backend/dist/utils/jwt.js
dicri-frontend/dist/assets/
dicri-frontend/dist/assets/
dicri-backend/coverage/lcov-report/src/middlewares/rbacGuard.ts.html
dicri-backend/coverage/lcov-report/src/routes/attachments.ts.html
dicri-backend/coverage/lcov-report/src/routes/catalogs.ts.html
dicri-backend/coverage/lcov-report/src/routes/expedientes.ts.html
dicri-backend/coverage/lcov-report/src/routes/indicios.ts.html
dicri-backend/coverage/lcov-report/src/routes/rbac.ts.html
dicri-backend/coverage/lcov-report/src/routes/reportes.ts.html
dicri-backend/coverage/lcov-report/src/routes/setup.ts.html
dicri-backend/coverage/lcov-report/src/routes/users.ts.html
dicri-backend/coverage/lcov-report/src/services/antivirus.ts.html
dicri-backend/coverage/lcov-report/src/services/attachments.ts.html
dicri-backend/coverage/lcov-report/src/services/catalogs.ts.html
dicri-backend/coverage/lcov-report/src/services/expedientes.ts.html
dicri-backend/coverage/lcov-report/src/services/indicios.ts.html
dicri-backend/coverage/lcov-report/src/services/mailer.ts.html
dicri-backend/coverage/lcov-report/src/services/rbac.ts.html
dicri-backend/coverage/lcov-report/src/services/reportes.ts.html
dicri-backend/coverage/lcov-report/src/services/revision.ts.html
dicri-backend/coverage/lcov-report/src/services/storage.ts.html
dicri-backend/coverage/lcov-report/src/services/users.ts.html
dicri-backend/coverage/lcov-report/src/utils/hash.ts.html

dicri-backend/coverage/
dicri-backend/jest-report.json
